ACCESS_TOKEN_SECRET="secret-string-here"
REFRESH_TOKEN_SECRET="secret-string-here"
DATABASE_URI_PROD="mongodb://username:password@host_address:27017/tlscargo"
DATABASE_URI_DEV="mongodb://127.0.0.1:27017/tlscargo"
ACCESS_TOKEN_EXPIRY="10 hours"
REFRESH_TOKEN_EXPIRY="30 days"
PORT=9081
SOCKET_PORT=3030
CORS_URLS="http://localhost:3000"
NODE_ENV="development"
APP_NAME="threeline-freight-forwarding"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_BUCKET=tlscargo